/* OVERLAY */

.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:100;
}

/* MODAL */

.modal{
  background:white;
  padding:2rem;
  border-radius:1rem;
  width:45rem;
  max-height:90vh;
  overflow-y:auto;
  box-shadow:0 1rem 2rem rgba(0,0,0,0.3);
}

.modal h2{
  font-size:2rem;
  color:#4c0989;
  margin-bottom:1rem;
}

/* FORM */

.form-producto{
  display:flex;
  flex-direction:column;
  gap:0.8rem;
}

.form-producto label{
  font-size:1.3rem;
  font-weight:600;
}

/* INPUTS */

.form-producto input,
.form-producto textarea,
.form-producto select{
  padding:0.6rem;
  border-radius:0.4rem;
  border:0.1rem solid #ccc;
  font-size:1.3rem;
}

.form-producto textarea{
  resize:vertical;
  min-height:6rem;
}

/* CHECKBOX */

.checkbox-group{
  display:flex;
  gap:1rem;
  margin-top:0.5rem;
}

.checkbox-group label{
  font-size:1.3rem;
}

/* BOTONES */

.form-buttons{
  display:flex;
  justify-content:flex-end;
  gap:1rem;
  margin-top:1rem;
}

.btn-cancelar{
  border:none;
  background:#9ca3af;
  color:white;
  padding:0.6rem 1.2rem;
  border-radius:0.5rem;
  cursor:pointer;
}

.btn-cancelar:hover{
  background:#6b7280;
}

.btn-guardar{
  border:none;
  background:#4c0989;
  color:white;
  padding:0.6rem 1.2rem;
  border-radius:0.5rem;
  cursor:pointer;
}

.btn-guardar:hover{
  background:#6B1F2A;
}